In [15]:
!pip install Shapely-1.7.0-cp37-cp37m-win_amd64.whl

Processing c:\users\sarat\desktop\study\uni\sem 3\visualization\assignments\data exploration project\final report\python_env\shapely-1.7.0-cp37-cp37m-win_amd64.whl
Installing collected packages: Shapely
Successfully installed Shapely-1.7.0

In [1]:
import pandas as pd
import shapefile as shp
import shapely
from shapely.geometry import Point, shape, Polygon

In [1]:
# from shapely.geometry import Polygon

In [2]:
cleanTaxiData = pd.read_csv('C:\\Users\\sarat\\Desktop\\Study\\Uni\\Sem 3\\Visualization\\Assignments\\Data Exploration Project\\Final Report\\python_env\\cleanTaxiData_26.csv')

In [8]:
cleanTaxiData.describe()

,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,pickup_hour,pickup_date,pickup_month,dropoff_hour,dropoff_date,dropoff_month
count,846945.000000,8.469450e+05,8.469450e+05,846945.000000,846945.000000,846945.000000,846945.000000,846945.000000,846945.000000,846945.000000,846945.00000,846945.000000,846945.000000,846823.000000,846823.000000,846823.000000,846811.000000,846811.000000,846811.000000
mean,1.710272,8.125239e+02,9.958211e+00,-73.975155,40.750490,-73.974197,40.750967,12.190578,0.320303,0.499305,1.34466,0.232142,14.587073,13.515135,15.696073,6.438415,13.504967,15.696016,6.438587
std,1.375266,1.609831e+04,6.525205e+03,0.035142,0.027224,0.033453,0.030766,9.514150,0.772642,0.057844,2.09149,1.109164,11.380950,6.534957,8.705599,3.462389,6.605162,8.705591,3.462415
min,0.000000,-1.000000e+01,0.000000e+00,-74.098305,40.009911,-74.099998,40.009911,-648.420000,-1.000000,-0.500000,0.00000,0.000000,-52.500000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,1.000000,3.610000e+02,1.050000e+00,-73.992371,40.736031,-73.991570,40.735207,6.500000,0.000000,0.500000,0.00000,0.000000,8.000000,9.000000,8.000000,3.000000,9.000000,8.000000,3.000000
50%,1.000000,6.000000e+02,1.800000e+00,-73.982094,40.752975,-73.980614,40.753597,9.500000,0.000000,0.500000,1.00000,0.000000,11.000000,14.000000,16.000000,6.000000,14.000000,16.000000,6.000000
75%,2.000000,9.600000e+02,3.200000e+00,-73.968048,40.767460,-73.965157,40.768227,14.000000,0.500000,0.500000,2.00000,0.000000,16.500000,19.000000,23.000000,10.000000,19.000000,23.000000,10.000000
max,6.000000,4.294796e+06,6.005123e+06,-73.028473,40.996132,-73.027061,40.998592,620.010000,628.840000,41.490000,200.00000,100.660000,620.010000,23.000000,31.000000,12.000000,23.000000,31.000000,12.000000

In [2]:
NYC_Boro = shp.Reader('nycBorough.shp')

In [8]:
NYC_boro_records = NYC_Boro.records()
NYC_boro_shapes = NYC_Boro.shapes()

In [4]:
plot(NYC_Boro)

NameError: name 'plot' is not defined

In [23]:
# NYC_boro_records
# NYC_boro_shapes[].points

In [42]:
# cleanTaxiData['pickup_boro'] = 'NA'
cleanTaxiData['dropoff_boro'] = 'NA'

In [19]:
# Suburbs 
flag = 0
count = 0

for index, row in cleanTaxiData.iterrows():
    
    # Converting the longitude and latitude to a point object
    location = row['pickup_longitude'],row['pickup_latitude']
    point = Point(location)
    
    for j in range(len(NYC_boro_shapes)):
        # if the property latitude and longitude comes under a polygon, the correspondng suburb is recorded
        # the polygon is obtained from the shapes 
        if Polygon(NYC_boro_shapes[j].points).contains(point):
            
            cleanTaxiData.at[index, 'pickup_boro'] = NYC_boro_records[j][1]
            flag = 1
            break
    if flag == 0:
        cleanTaxiData.at[index, 'pickup_boro'] = 'NA'
        
    count += 1
    
    if(count % 10000 == 0):
        print(count)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000

In [43]:
cleanTaxiData.to_csv('boroTaxiData_pickup_boro.csv', index = False)

In [45]:
# Suburbs 
flag = 0
count = 0

for index, row in cleanTaxiData.iterrows():
    
    # Converting the longitude and latitude to a point object
    location = row['dropoff_longitude'],row['dropoff_latitude']
    point = Point(location)
    
    flag = 0
    
    for j in range(len(NYC_boro_shapes)):
        # if the property latitude and longitude comes under a polygon, the correspondng suburb is recorded
        # the polygon is obtained from the shapes 
        if Polygon(NYC_boro_shapes[j].points).contains(point):
            
            cleanTaxiData.at[index, 'dropoff_boro'] = NYC_boro_records[j][1]
            flag = 1
            break
    if flag == 0:
        cleanTaxiData.at[index, 'dropoff_boro'] = 'NA'
        
    count += 1
    
    if(count % 10000 == 0):
        print(count)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000

In [49]:
cleanTaxiData.to_csv('boroTaxiData_pick_drop.csv', index = False)